<h1>The list of cocktails</h1>

  <% @cocktails.each do |cocktail| %>
  <div class="card-product">
    <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 10, width: 30, crop: :fill %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to  "#{cocktail.name}", cocktail_path(cocktail) %></h2>
    </div>
    <br>
  </div>



<% end %>
</ul>

<%= link_to "Add a new cocktail", new_cocktail_path %>
